@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* body section */
.body-font{
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
}
.margin-body{
    margin: 57px 190px;
}

/* navbar section  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand h3 {
    font-size: 36px;
    color: #e6533c;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 40px;
    border: 1px solid #ffffff1a;
    padding: 10px 14px;
    border-radius: 39px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    border-radius: 46px;
    font-size: bold;
}
.navbar-links a:hover {
    background-color: #e6533c;
}

.navbar-links .home{
    background-color: #e6533c;
}
.navbar-icon{
    display: none; 
    color: white;
    background-color: black;
}
/* banner section */
.banner{
    margin: 96px 0 92px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-section1{
    width: 520px;
    height: 440px;
}
.banner-head{
    font-size: 76px;
}
.banner-parapraph{
    margin: 28px 0;
    opacity: .7;
}
.banner-button1{
    padding: 16px 40px;
    background-color: #e6533c;
    border-radius: 42px;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 14px;
}
.banner-button2{
    padding: 16px 40px;
    border-radius: 42px;
    color: white;
    background-color: black;
    font-size: 16px;
    border: 1px white solid;
}
.banner-section2{
    width: 350px;
    height: 580px;
    background-image: url("../images/Images2.png");
}
.banner-button3{
    padding: 20px;
    border-radius: 50%;
    background-color: #e6533c ;
    border: none;
}
.button-fa-icon{
    display: none;
}
#banner-button4{
    background-color: #ffffff1a;
    color: white;
    padding: 12px 0px 12px 12px;
    border: 1px solid #ffffff1a;
    border-radius: 12px;
    width: 150px;
    margin-top: 140px;
    margin-left: 220px;
    
}
.button4-span{
    font-size: 40px;
    margin-bottom: 4px;
}
.inside-data2{
    background-color: #ffffff1a;
    padding: 12px 0px 12px 12px;
    color: white;
    border: 1px solid #ffffff1a;
    border-radius: 12px;
    width: 193px;
    display: flex;
    align-items: center;
    margin-top: 180px;
    margin-left: -100px;
} 

/* habit section  */

.habit-section{
    text-align: center;
}
.card-section{
    display: flex;
    justify-content:space-around;
    /* align-items: center; */
    text-align: center;
    gap: 40px;
}
.habit-head{
    font-size: 48px;
    margin-bottom: 14px;
}
.habit_paragraph{
    font-size: 14px;
    opacity: .7;
    line-height: 24px;
    margin: 14px 0;
    margin-bottom: 54px;
}
.card-image{
    border-radius: 50%;
    margin-bottom: 30px;
}
.card-head{
    font-size: 18px;
    margin-bottom: 6px;
}
.card-paragraph{
    font-size: 14px;
    line-height: 18px;
    opacity: .7;
}
.run-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    border-radius: 18px;
    background: #222222;
    width: 100%;
}
.run-image{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin: 30px 32px 29px 0px;
} 
.run-subsection{
    margin: 40px 165px 40px 52px;
}
.run-head{
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 14px;
}
.run-paragraph{
    opacity: .7;
    margin-bottom: 34px;
    line-height: 24px;
}
.run-button{
    padding: 16px 60px;
    background-color: #e6533c;
    border-radius: 42px;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 14px;
}
.trainer-section{
    margin-top: 40px;
    /* background-color: #222222; */
}
.trainer-section-all{
    background-color: #222222;
    border-radius: 16px;
    padding: 20px;
    width: 100%;
}
#card-gap{
    margin-top: 16px;
}
.trainer-section-1{
    display: flex;
    justify-content: space-around;
}
.trainer-section-image{
    width: 350px;
    height: 340px;
    border-radius: 16px;
    gap: 16px;
}
.trainer-data{
    margin-top: -75px;
    margin-left: 30px;
    margin-bottom: 25px;
}
.trainer-head{
    font-size: 24px; 
}
.trainer-paragraph{
    opacity: .7;
    line-height: 30px;
}
.footer-section{
    background-color: #222222;
    width: 100%;
    height: 450px;
}
.footer-section-head{
    margin: 20px 120px;
    padding: 66px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-section-1{
    width: 445px;
    height: 175px;
}
.hrline{
    margin:0 190px 10px 190px;
    opacity: .5;
}
.footer-logo{
    color: #e6533c;
    font-size: 70px;
    margin-bottom: 20px;
}
.footer-link-head{
    font-size: 32px;
    padding-bottom: 20px;
    /* margin-bottom: 20px; */
}
.list-item>li{
 opacity: .5;
 font-size: 23px;
 margin: 5px 0;
}
.footer-right{
    text-align: center;
    padding: 36px 0;
    opacity: .5;
}
/* calculator section */
.calculator{
    width: 100%;
    height: 420px;
    background-color: #222222;
}
.cal-section{
    margin: 50px 190px 10px 190px;
    display: flex;
    justify-content:space-between;
    padding: 50px 0;
}
.cal-section-2{
    width: 580px;
    height: 385px;
}
.form-field{
    border-radius: 10px;
    border: none;
    background-color: #ffffff1a;
    color: #959393;
    padding: 12px 20px;
    font-size: 16px;
    margin: 5px;
    width: 40%;
}
.form-field-2{
    border-radius: 10px;
    border: none;
    background-color: #ffffff1a;
    color: #959393;
    padding: 12px 20px;
    font-size: 16px;
    margin: 5px;
    width: 47%;
}
.form-field-3{
    border-radius: 10px;
    border: none;
    background-color: #ffffff1a;
    color: #959393;
    padding: 12px 20px;
    font-size: 16px;
    margin: 5px;
    width: 96%;
}
.cal-section-2-head{
    font-size: 28px;
    margin-bottom: 14px;
    padding-left: 5px;
}
.cal-section-2-paragraph{
    font-size: 14px;
    line-height: 24px;
    opacity: .5;
    padding-left: 5px;
    margin-bottom: 14px;
}
table, th, td {
    border: 1px solid #605e5e;
    border-collapse: collapse;
    padding: 5px 10px;
    font-size: 14px;
  }

  table,td{
    opacity: .7;
  }
.cal-section-1-table{
     text-align: left;
     width: 310px;
     height: 215px;
     margin-top: 50px;
     margin-bottom: 20px;
}
.cal-button{
    padding: 16px 60px;
    background-color: #e6533c;
    border-radius: 42px;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 14px;
}


/* responsive design  */

@media (max-width:576px) {
    .margin-body{
        margin: 52px 20px;
    }
    .navbar-links{
        display: none;
    }
    .navbar-icon{
        display: block;
        margin-right: -50px;
    }
    .navbar-icon i{
        font-size: 25px;
    }
    .banner{
        /* margin: 96px 0 92px 0; */
        display: inline;
        justify-content: space-between;
        align-items: center;
    }
    .banner-section1{
        width: 350px;
        height: 335px;
    }
    .two-button{
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
    }
    .banner-button1{
        padding: 8px 20px;
        font-size: 18px;
        width: 50%;
    }
    .banner-button2{
        /* margin-left: 4px; */
        padding: 12px 20px;
        font-size: 18px;
        width: 50%;
    }
    .banner-button3{
        padding: 16px;
    }
    .button-fa-icon{
        display: block;
        color: wheat;
    }
    .banner-head{
        font-size: 36px;
        margin-top: 50px;
    }
    .banner-section2{
        width: 350px;
        height: 580px;
        margin-top: -120px;
    }
    #banner-button4{
        margin-left: 180px;
        width: 130px;  
    }
    .button4-span{
        font-size: 20px;
    }
    .inside-data2{
        width: 170px;
        margin-top: 180px;
        /* padding-left: 100px; */
        margin-left: 20px;
    }
    .card-section{
        display: inline;
        align-items: center;
    }
    .card-subsection{
        width: 338px;
        margin: 40px auto;
         
    } 
    .habit-section{
        width: 338px;
        text-align: center;
         
    }  
    .habit-head{
        font-size: 32px;
    }

    .run-section{
        display: block;
        padding: 32px;
        /* align-items: center; */
        width: 95%;
        margin: 0 auto;
    }
    .run-subsection{
         margin: 0;
    }
    .run-image{
        width: 100%;
        height: 150px; 
        margin: 0;
    }
    .run-button{
        width: 100%;
        margin-bottom: 20px;
    }
    .run-paragraph{
         font-size: 14px;
         opacity: .7;
    }
    .run-head{
        font-size: 32px;   
    }
    .trainer-section{
        align-items: center;
    }
    .trainer-section-all{
        align-items: center;
    }
    .trainer-section-1{
        display: inline;
    }
    .trainer-section-image{
        width:100%;
        margin: 5px 0 5px 0;
    }
    .footer-section{
        width: 120%;
        height: 100%;
    }
    .footer-section-head{
        display: block;
        margin: 10px 20px;
        padding: 6px 0;
    }
    .footer-section-1{
        width: 315px;
        height: 200px;
    }
    .hrline{
        margin: 0 20px;
    }
    .footer-link-head{
        font-size: 32px;
        margin-top: 20px;
    }
    .list-item>li{
        margin: 20px 0;
    }
    .calculator{
        width: 120%;
        height: 100%;
    }
    .cal-section{
        display: block;
        margin: 10px 20px;
    }
    .cal-section-2{
        width: 355px;
        height: 340px;
    }
    .cal-section-2-head{
        font-size: 16px;
    }
    .cal-section-1-table{
        margin: 20px 0;
    }
    .form-field{
        width: 35%;
    }
    .form-field-2{
        width: 46%;
    }
    
}